<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SellerHeader</title>
  <link rel="stylesheet" href="/moamz_publishing/static/css/main/fragment/header/sellerHeader.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/moamz_publishing/static/img/main/fragment/header/logo.png">
      <ul class="header-search">
        <li>
          <a href="#">서비스소개</a>
        </li>
        <li>
          <a href="#">공지사항</a>
        </li>
      </ul>
      <div class="header-btn">
        <div class="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/user.png"></div>
        <div class="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/chat.png"></div>
        <div class="btn-img"><img src="/moamz_publishing/static/img/main/fragment/header/notification.png"></div>
        <button class="login" type="button">로그인</button>
      </div>
      <!-- <button>로그아웃</button> -->
    </div>
  </div>
</body>
</html>