*{
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable";
}

#login-user{
  /* border: 1px solid black; */
  width: 1000px;
  height: 1000px;
  margin: auto;
}
#login-logo{
  /* border: 1px solid black; */
  width: 196px;
  height: 96px;
  margin: 0 auto;
}
#login-choice{
  display: flex;
  /* border: 1px solid black; */
  width: 200px;
  height: 30px;
  margin-left: 200px;
  margin-top: 50px;
}
.login-choice_but{
  background-color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: #CEDD61;
  cursor: pointer;
}
#login_box{
  border: 1px solid #CEDD61;
  width: 600px;
  height: 500px;
  /* margin-left: 200px; */
  margin: 0 auto;
  border-radius: 10px;
}
#login_box_text{
  /* border: 1px solid black; */
  width: 600px;
  height: 180px;
  text-align: center;
  margin-top: 40px;
}
.login_text{
  width: 500px;
  height: 80px;
  border-radius: 10px;
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
}
#login-box_btn{
  text-align: center;
}
#login_but{
  width: 500px;
  height: 80px;
  border-radius: 10px;
  background-color: #CEDD61;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
#kakaologin-box{
  text-align: center;
  margin-top: 10px;
}
#kakaologin>img{
  /* border: 1px solid black; */
  width: 500px;
  height: 80px;
  border-radius: 20px;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
.login-a{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}
.login-a>#id-find>a{
  font-size: 14px;
}
.login-a>#sing-up>a{
  font-size: 14px;
}
