*{
  margin:0;
  padding:0;
  font-family: "Pretendard-Variable";
}

main{
  width: 700px;
  /* height: 100%; */
  margin: auto;
}

.noticeDetail-container{
  width: 700px;
  margin: auto;
  margin-top: 30px;
}

.noticeDetail-container h2{
  font-size: 25px;
  font-weight: bold;
}

.noticeDetail-wrap{
  width: 700px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  /* border: 1px solid black; */
}

.noticeDetail-box1{
  color: #6a6a6a;
  font-weight: bold;
  font-size: 15px;
}

.noticeDetail-box2{
  color: #6a6a6a;
  font-size: 15px;
  margin-left:35px;
}

.noticeDetail-box3{
  color: #6a6a6a;
  font-size: 15px;
  margin-left: 10px;
}

button{
  width: 315px;
  height: 26px;
  background-color: #A2B541;
  color: white;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-left: 180px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.noticeDetail-write{
  font-size: 15px;
  width: 700px;
  min-height: 500px;
  border-bottom:0.5px solid rgba(106, 106, 106, 0.37);
  border-top: 0.5px solid rgba(106, 106, 106, 0.37);
  padding: 20px;
}


