#container{
  /* border: 1px solid black; */
  width: 1000px;
  height: 1000px;
  margin: auto;
}
#find-logo{
  /* border: 1px solid black; */
  width: 196px;
  height: 96px;
  margin: 0 auto;
}
#login-find-id{
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  color: #947160;
}
#login-wrap{
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin-left: 200px;
  margin-top: 40px;
  border-radius: 10px;
  border-color: #CEDD61;
}
.find-strong{
  margin-top: 15px;
  margin-left: 45px;
}
#blank{
  height: 40px;
}
.find-input{
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.find-input>input{
  width: 500px;
  height: 60px;
  border: none;
  border-bottom: 1px solid black;
}
.find-input>span{
  position: absolute;
  right: 140px;
  top: 25px;
  color: #6a6a6a;
}
#phone-send{
  position: absolute;
  background-color: #CEDD61;
  color: #ffffff;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 20px;
  right: 55px;
  cursor: pointer;
}
#phone-certification{
  position: absolute;
  background-color: #CEDD61;
  color: #ffffff;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 20px;
  right: 55px;
  cursor: pointer;
}
#find-id{
  text-align: center;
  margin-top: 20px;
}
#find-id-btn{
  width: 500px;
  height: 80px;
  border-radius: 10px;
  border: none;
  background-color: #CEDD61;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}