/* a 태그 기본 스타일 제거 */
a {
    color: inherit; /* 링크 색상 제거 */
    text-decoration: none; /* 밑줄 제거 */
    background: none; /* 배경색 제거 */
    outline: none; /* 포커스시 나타나는 외곽선 제거 */
  }
  /* 버튼 reset css */
  button {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    box-shadow: none; /* 그림자 제거 */
    cursor: pointer; /* 마우스를 올리면 클릭 커서가 나타나도록 설정 */
    outline: none; /* 포커스시 나타나는 외곽선 제거 */
  }
  header {
    height: 70px;
    background-color: #ffffff;
    align-items: center; /* 높이를 맞춰 중앙 정렬 */
    box-shadow: 0px 2.49px 7.18px rgba(0, 0, 0, 0.16);
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  main {
    /* width: 1000px; */
    margin: 0 auto;
    height: 100vh;
  }
  
  /* 로고 */
  header .admin-logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  /* 로고 이미지 */
  header .admin-logo img {
    width: 35px;
    margin-right: 10px;
  }
  /* 타이틀 */
  header .admin-logo div {
    color: #0b3051;
    font-weight: bold;
    font-size: 25px;
  }
  /* 나가기 버튼 box */
  header .admin-logout__btn {
    width: 60px;
    height: 25px;
    border: 1px solid #0b3051;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
  }
  /* 나가기 폰트 */
  header .admin-logout__btn a {
    font-size: 17px;
    color: #1b494c;
  }
  header .admin-logout__btn:hover {
    background-color: #1b494c;
  }
  header .admin-logout__btn a:hover {
    color: white;
    background-color: #1b494c;
  }
  
  /* 좌측 네비바 */
  nav {
    background-color: #ffffff;
  }
  /* 네비바 전체 */
  nav ul {
    padding-top: 30px;
    padding-left: 13px;
  
    /* li들간에 위아래 간격 9px주기 */
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  nav ul li {
    display: flex;
    height: 26px;
    align-items: center;
    margin-right: 10px;
  }
  nav ul li .nav-logo {
    margin-right: 11.76px;
  }
  
  nav ul li .nav-logo img {
    width: 20px;
  }
  nav ul li .nav-title a {
    font-size: 20px;
    color: #5d7285;
  }
  nav ul li {
    width: 151px;
    height: 45px;
  }
  nav ul li:hover {
    background-color: #f0f6ff;
    font-weight: bold;
  }
  nav ul li a:hover {
    background-color: #f0f6ff;
    font-weight: bold;
  }
  
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
  /* 네비바+메인화면의 부모인 main */
  main {
    display: flex;
  }
  
  main .content-box {
    display: flex;
    flex-direction: column;
    background-color: #1b494c;
    width: 100%;
    /* height: 100vh; */
    padding-left: 30px;
    padding-right: 30px;
  }
  /* 타이틀 */
  main .content-box .page-title-box {
    position: relative;
    top: 30px;
    left: 8px;
  }
  main .content-box .page-title-box .page-title {
    font-size: 25px;
    color: #ffffff;
    line-height: 30px;
  }
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  
  /* 흰색 게시판 전체 */
  .content {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
  
    position: relative;
    bottom: -70px;
  }
  /* 공지사항 제목 부분 */
  .content-title-box {
    width: 95%;
    height: 70px;
    border-top: 1px solid #d7d4d4;
    border-bottom: 1px solid #d7d4d4;
    padding: 20px;
  }
  .content-title {
    font-size: 22px;
    font-weight: bold; /*💥적용 안되서 다시 체크하기*/
    color: black;
    margin-bottom: 20px;
  }
  .content-info {
    display: flex;
    font-size: 15px;
    color: #6a6a6a;
    gap: 20px;
    align-items: center;
    transform: translateY(-20%);
  }
  .profile-box{
      align-items: center;
  }
  .profile-box img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .content-info .writer {
    font-weight: bold;
    margin-left: -15px;
  }
  .content-info .text-box {
    display: flex;
    gap: 3px;
  }
  .content-info .btn-wrapper {
    position: absolute;
    right: 10px;
    top: 9%;
    transform: translateY(-50%);
    display: flex;
    gap: 7px;
  }
  .content-info .btn {
    border: 1px solid #5d7285;
    border-radius: 3px;
    padding: 5px;
    color: #5d7285;
    font-size: 15px;
  }
  .content-info .btn img {
    width: 13px;
    transform: translateY(12%);
  }
  /* 공지사항 내용 부분 */
  .content-detail-box {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 15px;
    height: 80%;
    position: relative;
  }
  .content-detail-box p {
    height: 40%;
    border-bottom: 1px solid #d7d4d4;
  }
  .content-img img {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 100px;
  }
  
  /* 댓글 부분 */
  .comment-container {
    width: 800px;
  }
  .comment {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
  }
  .comment-info {
    height: 40px;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap : 400px;
    flex-direction: row;
  }
  .comment-info-details{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .btns-box button{

  }
  .submitBtn{
    background-color: #565656;
    color: white;
    border-radius: 3px;
    padding: 3px;
  }
  .comment-input-box input{
    width: 600px;
    height: 20px;
    border: 0.2px solid #b9b8b8;
    margin: 10px;
  }
  .comment-input-box{
    background-color: #d7d4d4;
    padding: 0px 10px 10px 10px;
  }

  .comment-box {
    background-color: #d7d4d4;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid white;
  }
  .comment-id {
    font-size: 17px;
    font-weight: bold;
  }
  .comment-date {
    font-size: 15px;
    color: #565656;
  }
  .comment-modified {
    font-size: 12px;
    color: #6a6a6a;
  }
  .comment-detail {
    font-size: 15px;
    color: #565656;
  
  }
  