main {
    color: #6a6a6a;
}
.product-write-container {
    width: 700px;
    margin: 30px auto ;
}
/* 제목 영역 */
.write-title {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
/* 정보 변경 영역 */
.write-content-container {
    width: 100%;
    /* text-align: center; */
}
/* 라벨 */
.modify-label {
    width: 170px;
    color: #A2B541;
    font-size: 18px;
    font-weight: bold;
}
/* 썸네일 영역 */
.thumbnail-container {
    display: flex;
    margin-bottom: 50px;
}
.thumbnail-wrap {
    position: relative;
    /* margin-right: auto; */
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.thumbnail-img {
    background-image: url("../../../img/mypage/seller/thumbnail.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.thumbnail-cancle-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    background-image: url("../../../img/mypage/seller/thumbnail_cancle_btn.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
}
/* 변경 안되는 영역 */
/* 생년월일, 성별 영역 */
.cannot-modify-container,
.birth-gender-container {
    margin-bottom: 50px;
}
.cannot-modify-container .modify-item,
.birth-gender-container .modify-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
/* 성별 */
.radio-item {
    display: flex;
}
.radio-item input {
    margin-left: 20px;
    margin-right: 5px;
}
input[type='text'],
input[type='number'],
input[type='date'] {
    flex-grow: 1;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
/* 업체주소, 대표번호 영역 */
.address-modify-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.address-modify-container .modify-item {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
#address-search-btn {
    width: 50px;
    background-color: #CEDD61;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* 휴대폰번호 변경 */
.phone-modify-container {
    display: flex;
    flex-direction: column;
}
.phone-modify-container .modify-item {
    margin-top: 10px;
    display: flex;
}
/* input type='number' 화살표 없애기 */
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#msg-submit-btn,
#certicifation-num-check-btn {
    width: 50px;
    background-color: #CEDD61;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    cursor: pointer;
}
#phone-modify-btn {
    margin-top: 10px;
    width: 140px;
    height: 40px;
    margin-left: auto;
    border-radius: 6px;
    border: none;
    background-color: #CEDD61;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 4px #6a6a6a6a;
}
#phone-modify-btn:disabled {
    background-color: #ddd;
}

/* 버튼 영역 */
.btn-container {
    margin-top: 50px;
    text-align: center;
}
.btn-container button {
    width: 140px;
    height: 40px;
    margin-right: 15px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 4px #6a6a6a6a;
}
#cancle-btn {
    background-color: #ddd;
}
#user-info-modify-btn {
    background-color: #CEDD61;
}
/* 회원탈퇴 */
.withdraw-container {
    margin-top: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.withdraw-container span {
    color: #6a6a6a;
    font-size: 14px;
    margin-right: 5px;
}
#withdraw-btn {
    border: none;
    background-color: #ddd;
    color: #6a6a6a;
    font-size: 14px;
    width: 40px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}