*{
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable";
}
#container{
  border: 1px solid black;
  width: 1000px;
  height: 1000px;
  margin: auto;
}
#reset-wrap{
  /* border: 1px solid black; */
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
  /* border-color: #CEDD61; */
}
#reset-text{
  text-align: center;
  margin-top: 30px;
}
.reset-strong{
  margin-top: 15px;
  /* margin-left: 45px; */
  color: #a1b60a
}
.reset-password{
  /* text-align: center; */
  /* border: 1px solid red; */
  margin-top: 20px;
}
.reset-password>input{
  width: 500px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #dddddd;
}
.reset-password>p{
  margin-right: 0;
  font-size: 17px;
}
#reset-box-btn{
  margin: auto;
  /* border: 1px solid red; */
  width: 500px;
  margin-top: 60px;
  text-align: center;
}
#exit{
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: #dddddd;
  color: #6a6a6a;
  border: none;
}
#reset{
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: #d3e071;
  color: #6a6a6a;
  border: none;
}